[pinky wiggle]
id=1
left=493
right=343


[pinky curl]
id=2
out=30
in=877


[ring wiggle]
id=3
left=555
right=405


[ring curl]
id=4
out=160
in=1023


[middle wiggle]
id=5
left=630
right=472


[middle curl]
id=6
out=1023
in=160


[index wiggle]
id=7
left=590
right=450


[index curl]
id=8
out=780
in=0


[thumb wiggle]
id=9
left=798
right=435


[thumb curl]
id=10
out=220
in=789


[wrist]
id=11
forwards=350
backwards=700

